.Topic_header{
  font-size:1.5rem;
  text-align: center;
  font-family: serif;
  padding: 3rem 0rem;
}

#English{
  background-color:#F3F2F2;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}
